/* Tablets */
@media(max-width: 900px) {
    .nav-links {
        gap: 15px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
}

/* Phones */
@media(max-width: 1233px) {

    /* Burger Menu */
    .menu-icon {
        display: block;
    }

    .nav-toggle:checked ~ .nav-links {
        display: flex;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 65px;
        right: 20px;
        background: white;
        width: 200px;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 0 0 12px rgba(0,0,0,0.1);
    }

    .dropdown-content {
        position: relative;
        border: none;
        box-shadow: none;
        padding-left: 10px;
    }
}
